.avatar img {
    max-width: 200px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #ddd;
    margin: 20px auto;
}

.about {
    text-align: center;
}

.about h1 {
    margin-bottom: 0.6em;
}

.about .description {
    padding: 0.1em;
    color: var(--content);
    font-size: 18px;
}

.about.emphasized {
    margin-top: 2em;
    font-size: 30px;
    font-weight: bold;
}

.about.footer {
    margin: 0 auto;
}